# Port untuk server backend (di dalam container biasanya 4000)
PORT=4000

# Rahasia untuk mengenkripsi token login (JWT) - ganti dengan string acak panjang di production
JWT_SECRET=super_secret_jwt_key_untuk_jejak_tani_123!

# Kunci API Midtrans (Untuk simulasi pembayaran)
MIDTRANS_SERVER_KEY=Mid-server-xxxxxxxxx
MIDTRANS_CLIENT_KEY=Mid-client-xxxxxxxxx
